.font-base {
  font-size: $base-font-size;
}
.font-sm {
  font-size: $font-size-sm;
}
.font-lg {
  font-size: $font-size-lg;
}
.font-xl {
  font-size: $font-size-xl;
}
.font-md {
  font-size: $font-size-md;
}
.font-xxl {
  font-size: $font-size-xxl;
}
